<!DOCTYPE html>
<html>
<head>
  <title>Gameplan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ink-grid">
  <navigation>
    <%= link_to 'Admin', admin_root_path %>
  </navigation>
  <%= yield %>
</div>

</body>
</html>
