<!DOCTYPE html>
<html>
<head>
  <title>Gameplan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="ink-grid">
  <navigation>
    <div class="push-right">
      <p>
        <%= image_tag(current_user.image, class: 'profile-pic') if current_user.image %>
        <%= current_user.display_name %>
        &nbsp;&nbsp;
        <% if current_user.admin? %>
          <%= link_to 'Admin', admin_root_path %>
        <% end %>
        &nbsp;&nbsp;
        <%= link_to 'Logout', session_path, method: :delete %>
      </p>
    </div>
  </navigation>
  <%= yield %>
</div>

</body>
</html>
